.container{
   .table_cart{
    overflow-y:auto ;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table{
        width: 100%;
        tr{
            border-bottom: 1px solid #dddddd;
            td{
                padding: 8px;
                text-align: center;
            }
        }
        th{
           border: 1px solid #dddddd;
           padding: 8px;
           text-align: center;
        }
        img{
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    }
   }
   .formsb {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;

    form {
      width: 400px;
      padding: 20px;
      background: #ffffff;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
      .form_order {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        label {
          margin-bottom: 6px;
          font-size: 15px;
          font-weight: 500;
          color: #333;
        }
        input {
          padding: 10px;
          border-radius: 6px;
          border: 1px solid #cccccc;
          font-size: 15px;
          transition: 0.2s;

          &:focus {
            outline: none;
            border-color: #4da4ff;
            box-shadow: 0 0 3px rgba(77, 164, 255, 0.5);
          }
        }
      }
      label {
        font-size: 15px;
        display: flex;
        align-items: center;
        gap: 6px;
        margin-bottom: 8px;

        input[type="radio"] {
          width: 16px;
          height: 16px;
        }
      }
      .select_box {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;

  &:hover {
    border-color: #4da4ff;
  }

  .arrow {
    font-size: 14px;
    margin-left: 8px;
  }
}

.select_options {
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #fff;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  z-index: 9;
  position: absolute;
}

.option {
  padding: 10px 12px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: #f0f8ff;
  }
}


      button {
        font-size: 18px;
        margin-top: 15px;
        background-color: #28a745;
        border: none;
        color: white;
        padding: 12px 20px;
        min-width: max-content;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          background-color: #23963d;
        }
      }
    }
  }
}